#### Import packages and retrieve data from file

In [13]:
import json
import pandas as pd
with open('myfile.json') as f:
    data = json.load(f)

Data Overview first 10 rows

In [12]:
df = pd.read_json('myfile.json')
print(df.head(10))

  FIPS Admin2                Province_State       Country_Region  \
0                                                    Afghanistan
1                                                        Albania
2                                                        Algeria
3                                                        Andorra
4                                                         Angola
5                                                     Antarctica
6                                            Antigua and Barbuda
7                                                      Argentina
8                                                        Armenia
9              Australian Capital Territory            Australia

           Last_Update       Lat      Long_  Confirmed  Deaths Recovered  \
0  2023-03-10 04:21:03  33.93911  67.709953     209451    7896
1  2023-03-10 04:21:03   41.1533    20.1683     334457    3598
2  2023-03-10 04:21:03   28.0339     1.6596     271496    6881
3  2023-03-10 04:21:03   42.5063     1.5218      47890     165
4  2023-03-10 04:21:03  -11.2027    17.8739     105288    1933
5  2023-03-10 04:21:03  -71.9499     23.347         11       0
6  2023-03-10 04:21:03   17.0608   -61.7964       9106     146
7  2023-03-10 04:21:03  -38.4161   -63.6167   10044957  130472
8  2023-03-10 04:21:03   40.0691    45.0382     447308    8727
9  2023-03-10 04:21:03  -35.4735   149.0124     232974     228

  Active                             Combined_Key       Incident_Rate  \
0                                     Afghanistan   538.0424508714615
1                                         Albania   11621.96817012996
2                                         Algeria    619.132365905185
3                                         Andorra   61981.49226687375
4                                          Angola  320.35277020195906
5                                      Antarctica
6                             Antigua and Barbuda   9298.668409443671
7                                       Argentina   22225.43269916568
8                                         Armenia  15095.264160710898
9         Australian Capital Territory, Australia   54420.46250875964

   Case_Fatality_Ratio
0     3.76985547932452
1    1.075773567304616
2    2.534475646050034
3  0.34453956984756734
4    1.835916723653218
5                  0.0
6   1.6033384581594552
7   1.2988806223859395
8   1.9510046768669462
9  0.09786499781091453

last 10 rows

In [14]:
print(df.tail(10))

     FIPS Admin2 Province_State        Country_Region          Last_Update  \
4006                                          Uruguay  2023-03-10 04:21:03
4007                                       Uzbekistan  2023-03-10 04:21:03
4008                                          Vanuatu  2023-03-10 04:21:03
4009                                        Venezuela  2023-03-10 04:21:03
4010                                          Vietnam  2023-03-10 04:21:03
4011                               West Bank and Gaza  2023-03-10 04:21:03
4012                             Winter Olympics 2022  2023-03-10 04:21:03
4013                                            Yemen  2023-03-10 04:21:03
4014                                           Zambia  2023-03-10 04:21:03
4015                                         Zimbabwe  2023-03-10 04:21:03

             Lat       Long_  Confirmed  Deaths Recovered Active  \
4006    -32.5228    -55.7658    1034303    7617
4007   41.377491   64.585262     251247    1637
4008    -15.3767    166.9592      12014      14
4009      6.4238    -66.5897     552162    5854
4010   14.058324  108.277199   11526994   43186
4011     31.9522     35.2332     703228    5708
4012     39.9042    116.4074        535       0
4013   15.552727   48.516388      11945    2159
4014  -13.133897   27.849332     343135    4057
4015  -19.015438   29.154857     264276    5671

              Combined_Key       Incident_Rate Case_Fatality_Ratio
4006               Uruguay  29775.022619797124  0.7364379683709706
4007            Uzbekistan   750.6812457627086  0.6515500682595216
4008               Vanuatu   4104.824381577149  0.1165307141668054
4009             Venezuela   1941.774886804352  1.0601961018686545
4010               Vietnam  11842.163348525424  0.3746510148265888
4011    West Bank and Gaza  13784.956960969268  0.8116855415313383
4012  Winter Olympics 2022                                     0.0
4013                 Yemen   40.04899354817252   18.07450816241105
4014                Zambia   1866.491629984319  1.1823334839057513
4015              Zimbabwe  1778.0885285919792  2.1458626587355645

Python version used

In [5]:
print(pd.__version__)

2.0.3

List number of columns and associated data types

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4016 entries, 0 to 4015
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 4016 non-null   object
 1   Admin2               4016 non-null   object
 2   Province_State       4016 non-null   object
 3   Country_Region       4016 non-null   object
 4   Last_Update          4016 non-null   object
 5   Lat                  4016 non-null   object
 6   Long_                4016 non-null   object
 7   Confirmed            4016 non-null   int64
 8   Deaths               4016 non-null   int64
 9   Recovered            4016 non-null   object
 10  Active               4016 non-null   object
 11  Combined_Key         4016 non-null   object
 12  Incident_Rate        4016 non-null   object
 13  Case_Fatality_Ratio  4016 non-null   object
dtypes: int64(2), object(12)
memory usage: 439.4+ KB
None

There are 4016 rows indexed from (0 to 4016). 

There are 14 columns.

there are no null values in the initial dataset.

Duplication Removal

In [16]:
print("Data set has duplicated rows? ", df.duplicated())

Data set has duplicated rows?  0       False
1       False
2       False
3       False
4       False
        ...
4011    False
4012    False
4013    False
4014    False
4015    False
Length: 4016, dtype: bool

If dataset hadd duplicates, we can use the "drop_duplicates(inplace = True)" method

Find Correlations between each coloum in dataset

Separate all 14 columns

In [24]:
c1 = pd.Series(df.loc(1))
#https://www.w3schools.com/python/pandas/pandas_correlations.asp

<pandas.core.indexing._LocIndexer object at 0x0000023A8D665C70>

use python lib to visualize json data